<div class="container">
    <style scoped>
        img {
            width: 100%;
        }

        img#backsplash {
            position: fixed;
            width: 125vw;
            left: -12vw;
            top: -25vh;
            z-index: -1;
            filter: grayscale(1) contrast(1.5) brightness(2);
            opacity: 0;
            max-width: none;
            transition: 500ms all;
        }

        .annotation {
            opacity: 0;
            position: absolute;
            border: solid #3f3f3f medium;
            box-shadow: inset 0 0 3px black;
            transition: 250ms opacity;
            box-sizing: content-box;
        }

        .annotation::before {
            width: 100%;
            color: #8c8c8c;
            background: #3f3f3f;
            border: solid #3f3f3f medium;
            content: attr(data-uri);
            position: absolute;
            bottom: 100%;
            box-shadow: 2px 4px 15px rgba(0, 0, 0, .33);
            font-size: .75em;
        }

        .annotation::after {
            width: 100%;
            background: #dfdfdf;
            box-shadow: 2px 4px 15px rgba(0, 0, 0, .33);
            content: attr(data-content);
            position: absolute;
            top: 100%;
            margin-top: 3px;
            font-family: 'Junicode', serif;
        }

        .annotation:hover {
            opacity: 1;
        }

        .text-annotation {
            font-size: 1.2rem;
            perspective: 900px;

        }

        .text-annotation canvas,.text-annotation img {
            transition: 500ms all;
            transform-origin: top;
            box-shadow: rgba(0,0,0,1) 0px 0px 0px 0px;
            width: auto;
            max-width: 100%;
        }

        .text-annotation:hover {
            background-color: #cfcfcf;
        }

        .text-annotation:hover canvas, .text-annotation:hover img {
            transform: rotateX(100deg);
            box-shadow: rgba(0,0,0,.4) 0px 30px 5px -10px;
        }
        .text-annotation div:first-of-type{
            position:absolute;
            z-index: -1;
        }
        .text-annotation div:last-child,.block .text-annotation div {
            position: relative !important;
        }
        .block .text-annotation:hover canvas,.block .text-annotation:hover img {
            transform: none;
            box-shadow: inherit;
        }
        .u-see-thru {
            background-color: rgba(255,255,255,.7);
        }
        .btn-group, .btn-group-vertical {
            position: relative;
            display: -webkit-inline-box;
            display: -webkit-inline-flex;
            display: -ms-inline-flexbox;
            display: inline-flex;
            vertical-align: middle;
        }
        .btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        }
        .btn-group>.btn:first-child {
            margin-left: 0;
        }
        .btn-group>.btn {
            position: relative;
            -webkit-box-flex: 0;
            -webkit-flex: 0 1 auto;
            -ms-flex: 0 1 auto;
            flex: 0 1 auto;
        }
        .btn {
            display: inline-block;
            font-weight: 400;
            line-height: 1.25;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            border: 1px solid transparent;
            padding: .5rem 1rem;
            font-size: 1rem;
            border-radius: .25rem;
            -webkit-transition: all .2s ease-in-out;
            -o-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
        }
        [data-toggle=buttons]>.btn input[type=checkbox], [data-toggle=buttons]>.btn input[type=radio], [data-toggle=buttons]>.btn-group>.btn input[type=checkbox], [data-toggle=buttons]>.btn-group>.btn input[type=radio] {
            position: absolute;
            clip: rect(0,0,0,0);
            pointer-events: none;
        }
        .btn-info.active, .btn-info:active, .show>.btn-info.dropdown-toggle {
            color: #fff;
            background-color: #31b0d5;
            background-image: none;
            border-color: #2aabd2;
        }
        .btn-info {
            color: #fff;
            background-color: #5bc0de;
            border-color: #5bc0de;
        }
        .btn-info:hover {
            color: #fff;
            background-color: #31b0d5;
            border-color: #2aabd2;
        }


/* special case CSS to test injecting stylesheets */
em[decoration='double-underline'] {
    font-style: normal;
    text-decoration: underline;
    text-decoration-style: double;
}
em[decoration='underline'] {
    font-style: normal;
    text-decoration: underline;
}
monogram {
    font-family: cursive;
    padding: .25rem;
    border: solid 3px;
    margin: -.25rem;
}
monogram[shape='oval']{
    border-radius: 50%;
}
/* end case */

    </style>
    <div ng-if="obj['@id']">
        <div class="note u-see-thru">
            <h3 class="note-header text">{{obj.label || "[ no label ]"}}
                <a title="clear manifest" href="#/read" class="button">
                    <i class="fa fa-bomb"></i>
        </a>
            </h3>
            <div class="note-block text">
                {{description}}
                <code ng-hide='description'>[ no description ]</code>
                <div class="btn-group u-full-width" ng-show="languages.length" data-toggle="buttons">
                    <label class="btn btn-info" ng-class="{'active':screen.language===l}" ng-repeat="l in languages" ng-click="setDescription(obj.description,l)">
                        <input type="radio" ng-model="screen.language" ng-value="l" >
                        {{l}}
                    </label>
                </div>
            </div>
            <div class="note-block" ng-if="obj.metadata" style="max-height: 12rem;overflow: auto;">
                <dl>
                <dt ng-repeat-start="(k,v) in obj.metadata">
                    {{v.label || k}}
                </dt>
                <dd class="text" ng-bind-html="trust(v.value || v['@value'] || v || obj.metadata[k])" ng-repeat-end>
                </dd>
                </dl>
            </div>
            <div class="btn-group note-footer">
                <button role="button" ng-click="screen.canvas=obj.sequences[0].canvases[obj.sequences[0].canvases.indexOf(screen.canvas)-1]" ng-hide="obj.sequences[0].canvases.indexOf(screen.canvas)<1">previous</button>
                <select ng-show="obj.sequences[0].canvases.length" ng-model="screen.canvas" ng-options="canvas.label for canvas in obj.sequences[0].canvases"></select>
                <button role="button" ng-click="screen.canvas=obj.sequences[0].canvases[obj.sequences[0].canvases.indexOf(screen.canvas)+1]" ng-hide="obj.sequences[0].canvases.indexOf(screen.canvas)>(obj.sequences[0].canvases.length-2)">next</button>
                <button role="button" ng-if="screen.canvas.otherContent[0].resources" ng-click="cycleView()">{{screen.views[screen.viewing]}}</button>
                <button role="button" ng-show="screen.viewing==='annotations'" ng-click="screen.block=!screen.block">{{screen.block && "Shades"||"Simple"}}</button>
            </div>
        </div>
        <div style="position:relative;" ng-mouseleave="hideBacksplash()">
            <img id="backsplash" ng-style="screen.backsplashStyle" ng-src="{{screen.canvas.images[0].resource['@id']}}">
            <div ng-show="screen.viewing==='image'">
                <img fallback-src="http://placekitten.com/{{screen.canvas.width}}/{{screen.canvas.height}}" ng-src="{{screen.canvas.images[0].resource['@id']}}">
                <div class="annotation" ng-mouseenter="moveBacksplash(a.on,screen.canvas)" data-content="{{ trust(getValue(a)) }}" ng-repeat="a in screen.canvas.otherContent[0].resources" ng-if="(a['@type']==='oa:Annotation')||a.type==='Annotation'" ng-style={{getStyle(a.on,screen.canvas)}} data-uri="{{a['@id']||a.id}}">
                </div>
            </div>
            <div ng-show="screen.viewing==='annotations'" class="note u-see-thru" ng-class="{block:screen.block}">
                <div class="note-block">
                    <div class="text-annotation" ng-mouseenter="moveBacksplash(a.on,screen.canvas)" data-content="{{ getValue(a) }}" ng-repeat="a in screen.canvas.otherContent[0].resources" ng-if="(a['@type']==='oa:Annotation')||a.type==='Annotation'" data-uri="{{a['@id']||a.id}}">
                        <div>
                            <strong>{{ a.label }}</strong> <span class="text" data-ng-bind-html="trust(getValue(a))"></span>
                            <code ng-hide="getValue(a)">[ no transcription ]</code>
                        </div>
                        <img selector="a.on" ng-if="a.on.indexOf('xywh')>0">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="!obj['@id']">
        <div class="row">
            <input type="url" placeholder="Paste or type a URI for any Manifest" class="six columns" ng-model="screen.murl">
            <a class="button" ng-href="#/read?url={{screen.murl}}">Load it</a>
        </div>
        <span ng-if="universe">
            <button role="button" class="button" ng-show="universe.label!=='IIIF Universe'" ng-click="getUniverse()">
                <i class="fa fa-globe fa-rotate-90"></i>
            </button>
        <select class="" ng-options="c['@id'] as c.label for c in universe.collections" ng-model='collectionID' ng-change="updateCollection(collectionID)">
            <option value="">{{universe.label}}</option>
        </select>
        <select class="" ng-show="collection.manifests" ng-options="m['@id'] as m.label || $index for m in collection.manifests" ng-model='screen.murl'>
            <option value="">{{collection.label || " Select a Manifest "}}</option>
        </select>
        </span>
        <p class="">or try these examples:</p>
        <a class="button" href="#/read?url=http://t-pen.org/TPEN/manifest/4080">T-PEN (unauthorized)</a>
        <a class="button" href="#/read?url=http://165.134.105.29/annotationstore/annotation/577d2cace4b075dfb3779f08">Broken Books (no transcription, custom data)</a>
        <a class="button" href="#/read?url=http://www.e-codices.unifr.ch/metadata/iiif/bge-cl0015/manifest.json">e-codices (Classic IIIF, no text)</a>
        <p ng-if="obj.error" ng-class="obj.error &&'alert alert-danger'">
            {{obj.error.status}} {{obj.error.statusText}}
        </p>
        <pre><code style="background-color:{{obj.status&&'rgba(255,15,15,.3);'}};">{{ obj | json }}</code> {{obj.status}}</pre>
    </div>
</div>