<!DOCTYPE html>
<html class="body" ng-app="rerum">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>RERUM</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" media="all">
        <!--        <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">-->
        <link rel="stylesheet" href="app/lib/loading-bar.css" media="screen">
        <link rel="stylesheet" href="app/lib/hotkeys.min.css" media="screen">
        <link rel="stylesheet" href="assets/fonts.css" media="screen">
        <link rel="stylesheet" href="app/app.css" media="screen">
        <link rel="stylesheet" href="app/tools/parse-rect/parse-rect.css" media="screen">
        <link rel="stylesheet" href="app/tools/crop-page/crop-page.css" media="screen">
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">
        <!--        <base href="rerum/">-->
    </head>
    <body class="container" ng-controller="mainController" ng-class="{terminal:terminal}">
        <header>
            <pre class="title" ng-if="terminal">
██████╗&nbsp;███████╗██████╗&nbsp;██╗&nbsp;&nbsp;&nbsp;██╗███╗&nbsp;&nbsp;&nbsp;███╗
██╔══██╗██╔════╝██╔══██╗██║&nbsp;&nbsp;&nbsp;██║████╗&nbsp;████║
██████╔╝█████╗&nbsp;&nbsp;██████╔╝██║&nbsp;&nbsp;&nbsp;██║██╔████╔██║
██╔══██╗██╔══╝&nbsp;&nbsp;██╔══██╗██║&nbsp;&nbsp;&nbsp;██║██║╚██╔╝██║
██║&nbsp;&nbsp;██║███████╗██║&nbsp;&nbsp;██║╚██████╔╝██║&nbsp;╚═╝&nbsp;██║
╚═╝&nbsp;&nbsp;╚═╝╚══════╝╚═╝&nbsp;&nbsp;╚═╝&nbsp;╚═════╝&nbsp;╚═╝&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;╚═╝ v0.5
            </pre>
            <h1 ng-if="!terminal">RERUM</h1>
            <small>reconditorium eximium rerum universalium mutabiliumque</small>
        </header>
    <ng-view></ng-view>
    <footer>
        <span ng-if="terminal">
            <a ng-repeat="hotkey in hotkeys.get()" ng-hide="hotkey.combo[0]==='?'"
           ng-click="hotkey.callback($event)">
            <span class="btn-invert">{{symbolize(hotkey.combo)}}</span>
            {{hotkey.description}}</a>
        </span>
        <a class="btn-block text-center" href='mailto:digitalhumanities@slu.edu'
           tabindex="-1">
            digitalhumanities@slu.edu
        </a>
    </footer>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="app/lib/loading-bar.js"></script>
    <script type="text/javascript" src="app/lib/hotkeys.min.js"></script>
    <script type="text/javascript" src="app/app.js"></script>
    <script type="text/javascript" src="app/utils.js"></script>
    <script type="text/javascript" src="app/registration/registration.js"></script>
    <script type="text/javascript" src="app/tools/drawBox.js"></script>
    <script type="text/javascript" src="app/tools/manifest.js"></script>
    <script type="text/javascript" src="app/tools/essay/essay.js"></script>
    <script type="text/javascript" src="app/tools/parse-rect/parsing.js"></script>
    <script type="text/javascript" src="app/tools/crop-page/cropping.js"></script>
</body>
</html>
