/* cheap reset */
*, *:before, *:after  {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color:#001e3c;
}

.disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: .5;
}

property label {
    z-index: 1; /* hover gets lost in floats */
}
header {
    background: #222;
    width: 100%;
    padding: 1rem;
    color: #dfdfdf;
    position: relative;
    box-shadow: 0 0 3rem #001e3c;
    margin-bottom: 2rem;
}
header h1 {
    color:#a3d1ff;
    top: 3rem;
    letter-spacing: .75rem;
    position: relative;
}
header small {
    position: absolute;
    bottom: 1rem;
    line-height: 1;
    margin-left: 4%; /* match .column */
}
footer {
    position:fixed;
    bottom:0;
    width:100vw;
    overflow: hidden;
    padding: 1rem 0;
}
footer .button {
    border-color: transparent;
    margin:0;
}
footer .button:hover{
    background-color: #a3d1ff;
}
footer::before{
    content: "";
    position: absolute;
    box-shadow: 0 0 3rem #001e3c;
    height: 2rem;
    top: -2.5rem;
    width: 120%;
    left: -10%;
}
body pre {
    -webkit-user-select: all;
    -moz-user-select: all;
    user-select: all;
}
.no-break {
    white-space: nowrap;
}
.text-center {
    text-align: center;
}
.columns,.column {
    position: relative;
}
.watermark::before {
    color: #a3d1ff;
    position: absolute;
    opacity: .5;
    font-size: 5rem;
    width: 100%;
    text-align: center;
    top: 4rem;
    z-index: -1;
}