/* cheap reset */
*, *:before, *:after  {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color:#001e3c;
}

.disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: .5;
}

property label {
    z-index: 1; /* hover gets lost in floats */
}
header {
    background: #222;
    width: 100%;
    padding: 1rem;
    position: relative;
    box-shadow: 0 0 3rem #001e3c;
    margin-bottom: 2rem;
}
header h1 {
    color:#a3d1ff;
    top: 3rem;
    letter-spacing: .75rem;
    position: relative;
}
header small {
    position: absolute;
    bottom: 1rem;
    line-height: 1;
    margin-left: 17.3333%; /* match .column */
    color: #dfdfdf;
}
footer {
    position:fixed;
    bottom:0;
    width:100vw;
    overflow: hidden;
    padding: 1rem 0;
    background-color: #dfdfdf;
}
footer .button {
    border-color: transparent;
    margin:0;
}
footer .button:hover{
    background-color: #a3d1ff;
}
footer::before{
    content: "";
    position: absolute;
    box-shadow: 0 0 3rem #001e3c;
    height: 2rem;
    top: -2.5rem;
    width: 120%;
    left: -10%;
}
body pre {
    -webkit-user-select: all;
    -moz-user-select: all;
    user-select: all;
}
.no-break {
    white-space: nowrap;
}
.text-center {
    text-align: center;
}
.columns,.column {
    position: relative;
}
.watermark::before {
    color: #a3d1ff;
    position: absolute;
    opacity: .5;
    font-size: 5rem;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #f5faff;
    line-height: 3.5;
    z-index: -1;
}
.previewManifest{
    white-space: pre;
    border: 1px solid black;
    padding: 4px;
    position: relative;
    background-color: wheat;
    font-family: serif;
}
.closeManifestPreview{
    position: absolute;
    right: 9px;
    font-weight: bold;
    font-size: 17pt;
    top: 3px;
    cursor: pointer;
}

figure img{
    max-height:300px;
}
.card {
    margin-bottom: 2.5rem;
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    padding: 1.5rem;
}
.row {
    display: flex;
}
.nowrap {
    white-space: nowrap !important;
}