/* cheap reset */
*, *:before, *:after  {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color:#001e3c;
}

a[scrollto]{
    cursor: pointer;
}

a[scrollto].top::before{
    content: "↑";
    transition: all 1s;
    position: relative;
    top:0;
}
a[scrollto].top:hover::before{
    animation:top .5s;
}
@keyframes top {
    100% {
        top: -.6rem;
    }
}

.disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: .5;
}

property label {
    z-index: 1; /* hover gets lost in floats */
}
header {
    background: #222;
    width: 100%;
    padding: 1rem;
    position: relative;
    box-shadow: 0 0 3rem #001e3c;
    margin-bottom: 2rem;
}
header h1 {
    color:#a3d1ff;
    top: 3rem;
    letter-spacing: .75rem;
    position: relative;
}
header h1 span{
    color:#a3d1ff;
}
header small {
    position: absolute;
    bottom: 1rem;
    line-height: 1;
    margin-left: 17.3333%; /* match .column */
    color: #dfdfdf;
}
footer {
    position:fixed;
    bottom:0;
    width:100vw;
    overflow: hidden;
    padding: 1rem 0;
    background-color: #dfdfdf;
}
footer .button {
    border-color: transparent;
    margin:0;
}
footer .button:hover{
    background-color: #a3d1ff;
}
footer::before{
    content: "";
    position: absolute;
    box-shadow: 0 0 3rem #001e3c;
    height: 2rem;
    top: -2.5rem;
    width: 120%;
    left: -10%;
}
body pre {
    -webkit-user-select: all;
    -moz-user-select: all;
    user-select: all;
}
.no-break {
    white-space: nowrap;
}
.text-center {
    text-align: center;
}
.columns,.column {
    position: relative;
}
.watermark::before {
    color: #a3d1ff;
    position: absolute;
    opacity: .5;
    font-size: 5rem;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #f5faff;
    line-height: 3.5;
    z-index: -1;
}
.closeManifestPreview{
    position: absolute;
    right: 1rem;
    font-weight: bold;
    font-size: 3rem;
    top: 0;
    cursor: pointer;
}

figure img{
    max-height:300px;
}
.row {
    display: flex;
}
.nowrap {
    white-space: nowrap !important;
}

.note {
    position:relative;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 1px 3px rgba(0,30,60,.12), 0 1px 2px rgba(0,30,60,.24);
    margin-bottom: 2.5rem;
}
.note>.note-header{
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    padding: .6rem 1rem;
    border-bottom: 1px solid transparent;
}
.note>.note-block{
    padding: 1rem;
    font-family: monospace;
}
.note>.note-header:after,.note>.note-header:before{
    position:absolute;
    top:11px;left:-16px;
    right:100%;
    width:0;
    height:0;
    display:block;
    content:" ";
    border-color:transparent;
    border-style:solid solid outset;
    pointer-events:none;
}
.note>.note-header:after{
    border-width:7px;
    border-right-color:#f7f7f7;
    margin-top:1px;
    margin-left:2px;
}
.note>.note-header:before{
    border-right-color:#ddd;
    border-width:8px;
}
.note-footer{
    background-color: #f5f5f5;
    padding: .75rem 1.25rem;
    border-top: 1px solid rgba(0,0,0,.125);
    width:100%;
}
.text {
    font-family: 'Junicode', serif !important;
}
.card {
    margin-bottom: 2.5rem;
    padding: 1rem;
    box-shadow: 0 1px 3px rgba(0,30,60,.12), 0 1px 2px rgba(0,30,60,.24);
}
code{
    color: #001e3c;
    background-color: #d6ebff;
    border-color: #a3d1ff;
}
section>h2{
    position:relative;
    background-color: #f5f5f5;
}
section>h2::before{
    content:"";
    position:absolute;
    background-color: #f5f5f5;
    top:0;left:-5rem;
    border-bottom-left-radius: 5rem;
    border-top-left-radius: 5rem;
    height:100%;
    width:5rem;
}

dt {
    font-weight: 700;
    clear:left;
}
dd {
    margin-bottom: .5rem;
    margin-left: 2rem;
}

/* textareas that allow manifest alterations */
.editor{
    width: 800px;
    height: 500px;
    font-family: sans-serif;
}

#jsonManifestInput{
    width: 345px;
    height: 145px;
}

/* Validate CSS */
#validationChoices{

}

.validationChoice{
    float: none;
    margin: 0 auto;
}

.validationProcess{
    display: block;
    margin: 0 auto;
    position: relative;
}

.validationInput, .validationInputArea{
    width: 100%;
}

.validationInputArea{
    height: 300px;
}

.whichValidation{
    margin-right: 10px;
}

.validateUpload{
    margin-top: 50px;
}

.validateUpload::before{
    content:"or";
    position: relative;
    top: -23px;
    left: 50%;
}

.validationResponse{
    white-space: pre-line;
}

.rerum_shimmer {
    /* the shimmer magic */
    background: -webkit-gradient(linear,left top,right top,from(#fff),to(#fff),color-stop(.15,#000));
    background: -moz-gradient(linear,left top,right top,from(#fff),to(#fff),color-stop(.15,#000));
    background: gradient(linear,left top,right top,from(#fff),to(#fff),color-stop(.15,#000));
    -webkit-background-size: 55px 100%;
    -moz-background-size: 55px 100%;
    background-size:55px 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-animation-name: shimmer;
    -moz-animation-name: shimmer;
    -webkit-animation-name: shimmer;
    animation-name: shimmer;
    -webkit-animation-duration: 2.10s;
    -moz-animation-duration: 2.10s;
    -webkit-animation-duration: 2.10s;
    animation-duration: 2.10s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #222;
}

@-moz-keyframes shimmer {
    0% {
        background-position: top left;
    }

    100% {
        background-position: top right;
    }
}

@-webkit-keyframes shimmer {
    0% {
        background-position: top left;
    }

    100% {
        background-position: top right;
    }
}

@-o-keyframes shimmer {
    0% {
        background-position: top left;
    }

    100% {
        background-position: top right;
    }
}

@-ms-keyframes shimmer {
    0% {
        background-position: top left;
    }

    100% {
        background-position: top right;
    }
}

@keyframes shimmer {
    0% {
        background-position: top left;
    }

    100% {
        background-position: top right;
    }
}
