<div class="container">
    <style scoped>
        img {
            width: 100%;
        }

        img#backsplash {
            position: fixed;
            width: 125vw;
            left: -12vw;
            top: -25vh;
            z-index: -1;
            filter: grayscale(1) contrast(1.5) brightness(2);
            opacity: 0;
            max-width: none;
            transition: 500ms all;
        }

        .annotation {
            opacity: 0;
            position: absolute;
            border: solid #3f3f3f medium;
            box-shadow: inset 0 0 3px black;
            transition: 250ms opacity;
            box-sizing: content-box;
        }

        .annotation::before {
            width: 100%;
            color: #8c8c8c;
            background: #3f3f3f;
            border: solid #3f3f3f medium;
            content: attr(data-uri);
            position: absolute;
            bottom: 100%;
            box-shadow: 2px 4px 15px rgba(0, 0, 0, .33);
            font-size: .75em;
        }

        .annotation::after {
            width: 100%;
            background: #dfdfdf;
            box-shadow: 2px 4px 15px rgba(0, 0, 0, .33);
            content: attr(data-content);
            position: absolute;
            top: 100%;
            margin-top: 3px;
            font-family: 'Junicode', serif;
        }

        .annotation:hover {
            opacity: 1;
        }

        .text-annotation {
            font-size: 1.2rem;
            height: 8rem;
            float: left;
            padding: 0 3rem;
        }

        .text-annotation canvas,.text-annotation img {
            transition: 500ms all;
            box-shadow: rgba(0,0,0,1) 0px 0px 0px 0px;
            width: auto;
            max-width: 100%;
        }

        .text-annotation:hover {
            background-color: #cfcfcf;
        }

        .text-annotation:hover canvas, .text-annotation:hover img {
            box-shadow: rgba(0,0,0,.4) 0px 30px 5px -10px;
        }
        .text-annotation div:first-of-type{
            position:absolute;
        }
        .text-annotation div:last-child,.block .text-annotation div {
            position: relative !important;
        }
        .block .text-annotation:hover canvas,.block .text-annotation:hover img {
            transform: none;
            box-shadow: inherit;
        }
        .u-see-thru {
            background-color: rgba(255,255,255,.7);
        }
        .btn-group, .btn-group-vertical {
            position: relative;
            display: -webkit-inline-box;
            display: -webkit-inline-flex;
            display: -ms-inline-flexbox;
            display: inline-flex;
            vertical-align: middle;
        }
        .btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        }
        .btn-group>.btn:first-child {
            margin-left: 0;
        }
        .btn-group>.btn {
            position: relative;
            -webkit-box-flex: 0;
            -webkit-flex: 0 1 auto;
            -ms-flex: 0 1 auto;
            flex: 0 1 auto;
        }
        .btn {
            display: inline-block;
            font-weight: 400;
            line-height: 1.25;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            border: 1px solid transparent;
            padding: .5rem 1rem;
            font-size: 1rem;
            border-radius: .25rem;
            -webkit-transition: all .2s ease-in-out;
            -o-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
        }
        [data-toggle=buttons]>.btn input[type=checkbox], [data-toggle=buttons]>.btn input[type=radio], [data-toggle=buttons]>.btn-group>.btn input[type=checkbox], [data-toggle=buttons]>.btn-group>.btn input[type=radio] {
            position: absolute;
            clip: rect(0,0,0,0);
            pointer-events: none;
        }
        .btn-info.active, .btn-info:active, .show>.btn-info.dropdown-toggle {
            color: #fff;
            background-color: #31b0d5;
            background-image: none;
            border-color: #2aabd2;
        }
        .btn-info {
            color: #fff;
            background-color: #5bc0de;
            border-color: #5bc0de;
        }
        .btn-info:hover {
            color: #fff;
            background-color: #31b0d5;
            border-color: #2aabd2;
        }
        canvas {
            width: auto !important;
        }
        .note-footer a {
            padding: .25rem;
            border: thin solid #ddd;
            height: 2.5em;
            line-height: 2;
            width: 1.5em;
            text-align: center;
            margin-right:-1px;
        }
        .note-footer a:hover{
            background-color: #ddd;
        }
        .note>.note-block {
            overflow: auto;
        }
    </style>

    <div ng-if="obj['@id']">
        <div class="note u-see-thru">
            <h3 class="note-header text">{{obj.label|| "[ no label ]"}}
                <a title="clear manifest" href="#/aybee" class="button">
                    <i class="fa fa-bomb"></i>
                </a>
            </h3>
            <div class="note-block text">
                {{description}}
                <code ng-hide='description'>[ no description ]</code>
                <div class="btn-group u-full-width" ng-show="languages.length" data-toggle="buttons">
                    <label class="btn btn-info" ng-class="{'active':screen.language === l}" ng-repeat="l in languages" ng-click="setDescription(obj.description, l)">
                        <input type="radio" ng-model="screen.language" ng-value="l" >
                        {{l}}
                    </label>
                </div>
            </div>
            <div class="note-block" ng-if="obj.metadata" style="max-height: 12rem;overflow: auto;">
                <dl>
                    <dt ng-repeat-start="(k,v) in obj.metadata">
                        {{v.label|| k}}
                    </dt>
                    <dd class="text" ng-bind-html="trust(v.value || v['@value'] || v || obj.metadata[k])" ng-repeat-end>
                    </dd>
                </dl>
            </div>
                <div class="btn-group note-footer">
                    <button type="button" ng-click="screen.searchin=!screen.searchin">
                            {{screen.searchin && "Finding All:" || "Starting With:"}}
                    </button>
                    <input ng-model="screen.searchy" placeholder="Type to Filter" type="text">
                <a ng-repeat="i in screen.letters" ng-click="screen.searchy=i;">{{i}}</a>
            </div>
        </div>
        <div style="position:relative;">
            <div class="note u-see-thru block">
                <div class="note-block">
                    <div class="text-annotation" data-content="{{ aVal }}" ng-init="aVal = a.resource['cnt:chars'] || a.resource['chars'] || a.resource['@value']" ng-repeat="a in alphaSet(annotations)" ng-if="a['@type']==='oa:Annotation'" data-uri="{{a['@id']}}" ng-show="(screen.searchin && searchIndex(aVal,screen.searchy) > -1) || (searchIndex(aVal,screen.searchy) === 0)">
                        <div>
                            <strong>{{ a.label}}</strong> <span class="text" data-ng-bind-html="trust(aVal)"></span>
                            <code ng-hide="aVal">[ no transcription ]</code>
                        </div>
                        <img selector="a.on" ng-if="a.on.indexOf('xywh') > 0">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="!obj['@id']">
        <div class="row">
            <input type="url" placeholder="Paste or type a URI for any Manifest" class="six columns" ng-model="screen.murl">
            <a class="button" ng-href="#/aybee?url={{screen.murl}}">Load it</a>
        </div>
        <p class="">or try these examples:</p>
        <a class="button" href="#/aybee?url=http://t-pen.org/TPEN/manifest/6609">T-PEN (unauthorized)</a>
        <p ng-if="obj.error" ng-class="obj.error && 'alert alert-danger'">
            {{obj.error.status}} {{obj.error.statusText}}
        </p>
        <pre><code style="background-color:{{obj.status && 'rgba(255,15,15,.3);'}};">{{ obj | json }}</code> {{obj.status}}</pre>
    </div>
</div>