<div ng-class="{fullscreen:config.fullscreen}" class="parsing">
    <div class="parseButtons btn-group" ng-controller="drawBoxController">
        <div class="btn-group" uib-dropdown ng-show="canvas.otherContent" uib-tooltip="Annotation Groups" tooltip-placement="left">
            <button type="button" class="btn btn-default" uib-dropdown-toggle id="choose-list">
                {{dbs.activeList.label||dbs.activeList.motivation||dbs.activeList['@id']||'Lists'}}
                <span class="caret" ng-show="canvas.otherContent.length > 1"></span>
            </button>
            <ul class="uib-dropdown-menu" role="menu" aria-labelledby="choose-list">
                <li role="menuitem" ng-hide="dbs.activeList === L"
                    ng-click="dbs.activeList = L"
                    ng-repeat="L in canvas.otherContent">{{L.label||L.motivation||L.on||L['@id']}}</li>
                <li class="divider" ng-show="canvas.otherContent.length > 1"></li>
                <li role="menuitem" ng-click="addList()">Create New List</li>
            </ul>
        </div>
        <div class="btn-group" uib-dropdown ng-show="getMotivations(dbs.activeList).length > 1">
            <button type="button" class="btn btn-default" uib-dropdown-toggle id="motive-list">
                {{getMotivations(dbs.activeList) || "Restrict to"}} <span class="caret"></span>
            </button>
            <ul class="uib-dropdown-menu" role="menu" aria-labelledby="motive-list">
                <li role="menuitem" ng-click="dbs.restrictMotivations = false">"None"</li>
                <li role="menuitem" ng-hide="dbs.restrictMotivations === m"
                    ng-click="dbs.restrictMotivations = m"
                    ng-repeat="m in getMotivations(dbs.activeList)">{{m}}</li>
            </ul>
        </div>
        <button ng-click="setAction('create')" class="btn bg-default"
                ng-class="{active:dbs.action === 'create'}"
                ng-show="dbs.activeList.resources"
                tooltip-append-to-body="true"
                uib-tooltip="Add Line" tooltip-placement="bottom">
            <i class="fa fa-plus-circle"></i>
        </button>
        <button ng-click="setAction('destroy')" class="btn bg-default"
                ng-class="{active:dbs.action === 'destroy'}"
                ng-show="dbs.activeList.resources.length"
                tooltip-append-to-body="true"
                uib-tooltip="Destroy Line" tooltip-placement="bottom">
            <i class="fa fa-minus-circle"></i>
        </button>
        <button ng-click="setAction('select')" class="btn bg-default" ng-class="{active:dbs.action === 'select'}" ng-show="dbs.activeList.resources">
            <i class="fa fa-mouse-pointer"></i>
        </button>
        <button ng-click="saveAnno()" ng-if="dbs.newBox[0]" class="btn bg-primary" ng-show="dbs.activeList.resources">
            <i class="fa fa-save"></i>
        </button>
        <button ng-if="!canvas.otherContent.length" class="btn btn-warning"
                ng-click="addList()"
                tooltip-placement="left"
                tooltip-is-open="true"
                tooltip-append-to-body="true"
                uib-tooltip="This canvas has no annotation lists - click to add.">
            <i class="fa fa-warning"></i>
        </button>
    </div>
    <div class="col-sm-8">
        <uib-alert ng-repeat="m in messages" type="{{m.type}}">{{m.text}}</uib-alert>
    </div>
    <div id="canvasContainer" ng-class="{grab:!dbs.action}">
        <div id="canvasImage" style="position:relative;margin-bottom: 6rem;margin-right: {{dbs.pinch}}.0%"
         ng-mousewheel-down="rePinch(-1)" ng-mousewheel-up="rePinch(1)">
        <img selector="canvas['@id']">
        <canvas></canvas>
        <annotation-layer width="{{canvas.width}}" height="{{canvas.height}}"></annotation-layer>
        <draw-box class="{{dbs.action}}"></draw-box>
    </div>
    </div>
    <pre ng-show="dbs.showObject"
         style = "position:fixed; top:30vh;width:100vh;height: 40vh;">
        {{canvas | json}}
    </pre>
    <nav class="parseFooter">
        <button ng-click="dbs.pinch=0" class="btn btn-default" type="button"
                ng-show="dbs.pinch!==0"
                uib-tooltip="Reset canvas size">
            <i class="fa fa-crosshairs"></i>
        </button>
        <select ng-model="canvas" class="btn btn-default"
                ng-options="(c.label||$index) for c in manifest.sequences[config.currentSequenceIndex].canvases">
        </select>
    </nav>
</div>
