<!DOCTYPE html>
<!--
Read a T-PEN (or other similarly formed) transcription with images as available
-->
<div>
    <div ng-if="obj['@id']">
        <h1>{{obj.label || "[ no label ]"}}</h1>
        <p>{{obj.description}}</p>

        {{ obj.sequences[0].canvases.length }}
    </div>
    <div ng-if="!obj['@id']">
        <input type="text" placeholder="Paste or type a URI for any Manifest"
               class="form-control" ng-model="murl">
        <a class="btn btn-default" ng-href="#/read?url={{murl}}">Load it</a>
        <p ng-if="obj.error" ng-class="obj.error &&'alert alert-danger'">
            {{obj.error.status}} {{obj.error.statusText}}
        </p>
        <pre>
            {{ obj }}
        </pre>
    </div>
</div>