<div>
<form ng-submit="loadImages(imgString)">
	<div class="form-group">
		<label class="control-label">Images</label>
		<input class="form-control" type="text" ng-model="imgString" 
			ng-model-options="{ updateOn: 'blur' }">
		<p class="help-block">
			Enter a list of URLs to available images, separated by a comma(","). Any
			images that we cannot resolve will result in unannotated Canvases. The 
			SharedCanvas Manifest that you create is editable. By default, the image
			names will be used as Canvas labels and they will be sequenced in the 
			order they are input.
		</p>
		<button type="submit" class="btn btn-default">Create Manifest</button>
	</div>
</form>
<figure class="col-sm-3" ng-repeat="c in canvases">
	<figcaption>{{c.label.substring(0,10)}}</figcaption>
	<figcaption>{{c.width}} x {{c.height}}</figcaption>
	<img ng-src="{{c.src}}" width="100%" ng-load="defaultCanvas($index,$event)">
</figure>
</div>