<div class="container">
    <form ng-submit="loadImages(imgString,cHeight)">
        <label>Images</label>
        <input class="u-full-width" type="text" ng-model="imgString"
               ng-model-options="{ updateOn: 'blur' }"><i></i>
        <p>
            Enter a list of URLs to available images, separated by a comma(","). Any
            images that we cannot resolve will result in unannotated Canvases. The
            SharedCanvas Manifest that you create is editable. By default, the image
            names will be used as Canvas labels and they will be sequenced in the
            order they are input.
        </p>
            <label>Canvas Dimensions</label>
            <input class="u-full-width" type="number" ng-model="cHeight"
                   ng-model-options="{ updateOn: 'blur' }"><i></i>
            <p>
                Incoming images will be scaled to the height set and the initial width will
                be based off the natural ratio of the full image.
            </p>
        <button type="submit" >Create Manifest</button>

        <button type="button" ng-show="canvases.length"
                ng-click="preview()">
            Preview manifest
        </button>
        <a class="button" ng-show="canvases.length" href="#/edit">
            Edit this manifest ({{canvases.length}} canvas{{(canvases.length===1)&&""||"es"}})
        </a>
        <button type="button" ng-show="canvases.length"
                ng-click="saveManifest(obj)">
            Save this manifest
        </button>

    </form>
    <pre style="position:relative;" ng-show="previewManifest">
<div class="closeManifestPreview" ng-click="closePreview();">X</div>
<code>{{previewManifest}}</code></pre>
    <!--<thumbs-canvas slides="c in ::canvases track by c.images[0].resource['@id']">
        <img ng-src="{{::c.images[0].resource['@id']||c.images[0]}}" ng-load="defaultCanvas($index,$event)">
        <small class="help-block">{{c.width}} x {{c.height}}</small>
    </thumbs-canvas> -->
    <figure ng-repeat="c in ::canvases track by c.images[0].resource['@id']">
        <figcaption>{{::c.label.substring(0,10)}}</figcaption>
        <img ng-src="{{::c.images[0].resource['@id']||c.images[0]}}" ng-load="defaultCanvas($index,$event)">
        <small class="help-block">{{c.width}} x {{c.height}}</small>
    </figure>


</div>