<div class="container">
    <div ng-controller="welcomeController">
        <div ng-controller="toolsController">
            <label>
                Filter by Tag
                <span style="opacity:.5;">
                    Showing {{(tools.rerum|filter:tagFilter.toLowerCase()).length+(tools.community|filter:tagFilter.toLowerCase()).length}}
                    of {{tools.rerum.length+tools.community.length}}
                </span>
                <button ng-show="tagFilter.length" title="reset" type="button" ng-click="tagFilter=''" style="margin:0;padding:.25rem;line-height:1;height:auto;">
                    <i class="fa fa-undo"></i>
                </button>
            </label>
            <input class="u-full-width" type="text" ng-model="tagFilter">
            <h4>RERUM Components</h4>
            <p>
                These tools are designed to create or manage resources on RERUM or to
                be used as modules away from rerum.io. As they are generated, additional
                resources (Web Components, simple libraries, etc.) will also be included
                here.
            </p>
            <table class="columns twelve">
                <style>
                    td code {
                        display:inline-block;
                    }
                </style>
                <thead class="row">
                <th class="columns four">Name</th>
                <th class="columns one">Version</th>
                <th class="columns three">Tags</th>
                <th class="columns four">Notes</th>
                </thead>
                <tbody>
                    <tr class="row" ng-repeat="t in tools.rerum|filter:tagFilter.toLowerCase()">
                        <td class="columns four">
                            <a ng-href="{{t.link}}" class="nowrap">{{t.label}}</a>
                        </td>
                        <td class="columns one">
                            {{t.version}}
                        </td>
                        <td class="columns three">
                            <code ng-repeat="tag in t.tags">{{tag}}</code>
                        </td>
                        <td class="columns four">
                            {{t.notes}}
                        </td>
                    </tr>
                </tbody>
            </table>
            <h4>Community Tools</h4>
            <p>
                These applications are not part of RERUM, but allow
                for the use, distribution, or viewing of RERUM resources.
            </p>
            <table>
                <thead>
                <th>Name</th>
                <th>Version</th>
                <th>Tags</th>
                <th>Notes</th>
                </thead>
                <tbody>
                    <tr ng-repeat="t in tools.community|filter:tagFilter.toLowerCase()">
                        <td>
                            <a ng-href="{{t.link}}" class="nowrap">{{t.label}}</a>
                        </td>
                        <td>
                            {{t.version}}
                        </td>
                        <td>
                            <code ng-repeat="tag in t.tags">{{tag}}</code>
                        </td>
                        <td>
                            {{t.notes}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--        <div class="btn-block btn-disabled">Create a sc:Canvas</div>
                <div class="btn-block btn-disabled">Create an oa:Annotation</div>
            <div class="btn-block btn-disabled">Manage or batch edit oa:Annotation objects</div>
                <div class="btn-block btn-disabled">View a sc:Manifest or sc:Canvas</div>-->
    </div>
</div>
