@font-face {
    font-family: 'PRNumber3';
    src: url('PRNumber3.eot?#iefix') format('embedded-opentype'),  url('PRNumber3.woff') format('woff'), url('PRNumber3.ttf')  format('truetype'), url('PRNumber3.svg#PRNumber3') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PrintChar21';
    src: url('PrintChar21.eot?#iefix') format('embedded-opentype'),  url('PrintChar21.woff') format('woff'), url('PrintChar21.ttf')  format('truetype'), url('PrintChar21.svg#PrintChar21') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Junicode"; /* Open font with high support for special characters, especially in medieval texts */
    src: url("fonts/Junicode.woff") format('woff');
}

@font-face {
    font-family: "Junicode";
    src: url("fonts/Junicode-Bold.woff") format('woff');
    font-weight: bold;
}

@font-face {
    font-family: "Junicode";
    src: url("fonts/Junicode-BoldItalic.woff") format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Junicode";
    src: url("fonts/Junicode-Italic.woff") format('woff');
    font-style: italic;
}
